package ${controllerContext.pkg};

import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;
import ${serviceImplContext.classImportPath};
import org.springframework.beans.factory.annotation.Autowired;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * ${table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@RestController
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityPath}")
#if(${superControllerClass})
public class ${controllerContext.name} extends ${superControllerClass} {
#else
public class ${controllerContext.name} {
#end
	@Autowired
    private ${serviceImplContext.name} ${serviceImplContext.beanName};
}
