package ${mapperContext.pkg};

import ${entityContext.classImportPath};
import tk.mybatis.mapper.common.Mapper;
import tk.mybatis.mapper.common.special.InsertListMapper;

/**
 * <p>
 * ${table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${mapperContext.name} extends Mapper<${entity}>, InsertListMapper<${entity}>  {
}