package ${mapperContext.pkg};

import ${entityContext.classImportPath};
import ${entityContext.classImportPath}Example;
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * <p>
  * ${table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${mapperContext.name}  {
   /**
     *
     * @mbggenerated ${date}
     */
    int deleteByPrimaryKey(${table.primaryTableField.propertyType} id);
     /**
     *
     * @mbggenerated ${date}
     */
    int deleteByExample(${entity}Example ${entityContext.beanName}Example);

    /**
     *
     * @mbggenerated ${date}
     */
    int insert(${entity} ${entityContext.beanName});

    /**
     *
     * @mbggenerated ${date}
     */
    int insertSelective(${entity} ${entityContext.beanName});
    
    /**
    *
    * @mbggenerated ${date}
    */
    int batchInsertSelective(List<JasperStatus> jasperStatusList);

    /**
     *
     * @mbggenerated ${date}
     */
    ${entity} selectByPrimaryKey(${table.primaryTableField.propertyType} id);
    /**
    *
    * @mbggenerated ${date}
    */
    public  List<${entity}> selectListByExample(${entity}Example ${entityContext.beanName}Example);
     /**
    *
    * @mbggenerated ${date}
    */
    public  Integer countByExample(${entity}Example ${entityContext.beanName}Example);
    
    /**
    *
    * @mbggenerated ${date}
    */
    public  List<${entity}> selectList(${entity} ${entityContext.beanName});
     /**
    *
    * @mbggenerated ${date}
    */
    public  List<${entity}> selectListByIds(List<${table.primaryTableField.propertyType}> ids);
    /**
    *
    * @mbggenerated ${date}
    */
    public  ${entity} selectOne(${entity} ${entityContext.beanName});

    /**
     *
     * @mbggenerated ${date}
     */
    int updateByPrimaryKeySelective(${entity} ${entityContext.beanName});

    /**
     *
     * @mbggenerated ${date}
     */
    int updateByPrimaryKey(${entity} ${entityContext.beanName});
    
    /**
     *
     * @mbggenerated ${date}
     */
    int updateByExampleSelective(@Param("record") ${entity} ${entityContext.beanName}, @Param("example") ${entity}Example ${entityContext.beanName}Example);

    /**
     *
     * @mbggenerated ${date}
     */
    int updateByExample(@Param("record") ${entity} ${entityContext.beanName}, @Param("example") ${entity}Example ${entityContext.beanName}Example);
}