package ${serviceContext.pkg};

import ${entityContext.classImportPath};
import org.unicorn.framework.core.exception.PendingException;
import java.util.List;
/**
 * <p>
 * ${table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${serviceContext.name} {
	/**
     * 根据主键删除记录
     * @param id
     * @return
     * @throws PendingException
     */
   public void deleteByPrimaryKey(${table.primaryTableField.propertyType} id) throws PendingException;

    /**
     * 保存记录
     * @param record
     * @return
     * @throws PendingException
     */
   public  ${entityContext.name} save(${entityContext.name} record) throws PendingException;
     /**
     * 根据主键查询记录
     * @param record
     * @return
     * @throws PendingException
     */
    public ${entityContext.name} selectByPrimaryKey(${table.primaryTableField.propertyType} id) throws PendingException;
    
    /**
     * 根据条件查询记录列表
     * @param record
     * @return
     * @throws PendingException
     */
    public  List<${entityContext.name}> selectList(${entityContext.name} record) throws PendingException;
    /**
     * 根据主键列表查询记录
     * @param record
     * @return
     * @throws PendingException
     */
    public  List<${entityContext.name}> selectListByIds(List<${table.primaryTableField.propertyType}> ids) throws PendingException;
    /**
     * 根据条件查询一条记录
     * @param record
     * @return
     * @throws PendingException
     */
    public  ${entityContext.name} selectOne(${entityContext.name} record) throws PendingException;

    /**
     * 根据主键修改记录
     * @param record
     * @return
     * @throws PendingException
     */
    public ${entityContext.name} updateByPrimaryKey(${entityContext.name} record) throws PendingException;

    
}
