# Created by .ignore support plugin (hsz.mobi)
### spring_boot_template template
### Example user template

# IntelliJ project files
.idea
*.iml
traget/
src/main/resources/rebel.xml
*.log
.project
.setting
