package ${apiServiceImplContext.pkg};

import ${serviceImplContext.classImportPath};
import ${entityContext.classImportPath};
import ${entityContext.classImportPath}Example;
import ${mapperContext.classImportPath};
import ${dtoContext.classImportPath};
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.unicorn.framework.core.exception.PendingException;
import org.springframework.beans.factory.annotation.Autowired;
import org.unicorn.framework.core.SysCode;
import lombok.extern.slf4j.Slf4j;
import java.util.List;

import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
/**
 * <p>
 * ${table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
public class ${apiServiceImplContext.name} extends ${serviceImplContext.name} {



}
