package ${entityContext.pkg};

#foreach($pkg in ${entityContext.importSet})
import ${pkg};
#end
import java.io.Serializable;
import javax.persistence.*;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

/**
 * <p>
 * ${table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = false)
@ApiModel(value = "${table.comment}对象", description = "${table.comment}对象")
@Table(name = "${table.name}")
public class ${entityContext.name} implements Serializable{

    private static final long serialVersionUID=1L;

#foreach($field in ${table.fields})
    #if("$!field.comment" != "")
/**
     * ${field.comment}
     */
    #end
#if("$!field.keyFlag" == true)
@Id
    @Column(name = "${field.name}")
    #end
@ApiModelProperty(value = "${field.comment}", name = "${field.comment}")
#if($field.dateFlag != "")
    #if($field.dateFlag  == "1")
@DateTimeFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
    #elseif($field.dateFlag == "2")
@DateTimeFormat(pattern = "yyyy-MM-dd")
    @JsonFormat(pattern = "yyyy-MM-dd")
    #elseif($field.dateFlag == "3")
@DateTimeFormat(pattern = "HH:mm:ss")
    @JsonFormat(pattern = "HH:mm:ss")#end
#end
private ${field.propertyType} ${field.propertyName};

#end

}
